/* Body Styles */
body {
  padding: 20px;
}

/* Form Styles */
form {
  width: 70%;
}

/* User list styles */
#users-list-container {
  padding: 20px 0px;
}
.user-in-list {
  margin-bottom: 10px;
}

/* User detail syles */
#user-detail-container {
  display: flex;
  width: 100%;
}

#user-detail-image-container {
  width: 20%;
}

#user-detail-text-container {
  width: 80%;
}

/* Post Page Styles */
#post-tags-container {
  padding: 20px 0px;
}