{% extends "base.html" %}

{% block page_title %}
<div id="create-tag-title-container">
  <h1 id="create-tag-title">Create a Tag</h1>
</div>
{% endblock %}

{% block content %}
<div id="create-tag-form-container">
  <form id="create-tag-form" action="/tags/new" method="POST">
    
    <div class="mb-3">
      <label class="form-label" for="tag-name">Name</label>
      <input class="form-control" name="tag-name" type="text" placeholder="Enter a name for the tag"/>
    </div>
    
    <a href="/"><button class="btn btn-secondary">Cancel</button></a>
    <a href="/"><button class="btn btn-primary">Add</button></a>
  </form>
</div>
{% endblock %}