{% extends "base.html" %}

{% block page_title %}
<div id="create-user-title-container">
  <h1 id="create-user-title">Create a user</h1>
</div>
{% endblock %}

{% block content %}
<div id="create-user-form-container">
  <form id="create-user-form" action="/users/new" method="POST">
    
    <div class="mb-3">
      <label class="form-label" for="first-name">First Name</label>
      <input class="form-control" name="first-name" type="text" placeholder="Enter a first name"/>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="last-name">Last Name</label>
      <input class="form-control" name="last-name" type="text" placeholder="Enter a last name"/>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="image-url">Image URL</label>
      <input class="form-control" name="image-url" type="text" placeholder="Provide an image of this user"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock %}