{% extends "base.html" %}

{% block page_title %}
<div id="edit-post-title-container">
  <h1 id="edit-post-title">Edit Post</h1>
</div>
{% endblock %}

{% block content %}
<div id="edit-post-form-container">
  <form id="edit-post-form" action="/posts/{{ post.id }}/edit" method="POST">
    
    <div class="mb-3">
      <label for="post-title" class="form-label"></label>
      <input class="form-control" type="text" name="post-title" value="{{ post.title }}"/>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="post-content">Content</label>
      <textarea class="form-control" name="post-content" rows="10" cols="50">{{ post.content }}</textarea>
    </div>
    
    <div class="mb-3">
      <p id="tags-label">Tags</p>
      {% for tag in tags %}
        <div class="form-check">
          {% if tag in post.tags %}
            <input class="form-check-input" name="post-tag" value="{{ tag.name }}" type="checkbox" checked>
            <label class="form-check-label" for="post-tag">{{ tag.name }}</label>
          {% else %}
          <input class="form-check-input" name="post-tag" value="{{ tag.name }}" type="checkbox">
          <label class="form-check-label" for="post-tag">{{ tag.name }}</label>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
    <a href="/"><button class="btn btn-secondary">Cancel</button></a>
    <a href="/"><button type="submit" class="btn btn-primary">Save</button></a>
    
  </form>
</div>
{% endblock %}